:root{
    --pompNpower: rgb(150, 107, 157);
    --oldRose: rgb(201, 134, 134);
    --fawn: rgb(242, 184, 128);
    --seaShell: rgb(255, 244, 236);
    --champagnePink: rgb(231, 207, 188);   
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}



body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Work Sans', sans-serif; 
    background-color: #cecece;    
}

.logo {
    width: 40px;
    height: 40px;
}

.logo:hover {
    transition: 0.3s;
    background-color: rgb(98, 52, 105);
    border-radius: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
    background-color: var(--pompNpower);
}

.ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu {
    display: flex;
    padding: 0;
}

.enlaces-menu li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 20px;
    color: #f3f3f3;
    font-weight: 400;
}

.enlaces-menu li:hover {
    background-color: rgb(98, 52, 105);
    border-radius: 10px;
}

/* Movil */

@media (max-width: 768px) {
    
    .logo {
        margin-left:25px;
    }

    .ham {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
    }

    .ham:hover {
        transform: rotate(360deg);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    .enlaces-menu {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;       
    }

    .enlaces-menu li {
        width: 100%;
        text-align: center;
        padding: 20px;
    }
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
}

.br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado {
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
}


/* Formularios */

.captura {
    margin: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.captura h2 {
    padding-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-de-tabla {
    display: none;
}

@media (min-width: 1020px) {
    .contenedor-de-tabla {
        display: block;
    }

    form {
        width: 95%;
    }   
}

form label {
    font-size: 20px;    
}

form input, form select, form button {
    height: 35px;
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 20px; 
    background-color: #e6e6e6;   
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    padding-left: 10px;
}

form button {
    background-color: transparent;
}

form button:hover {
    background-color: var(--champagnePink);
}

@media (min-width: 1020px) {
    .captura .contenedor {
        display: flex;
        flex-direction: row;
    }   
}

/* Charts */

.div-charts {
    margin: 20px;
    background-color: white;
    border-radius: 20px;
}

.div-charts .titulo-chart {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.div-charts .canvas-chart {
    padding: 25px;
    width: 100%;
}